
h1,h2,h3,h4{
     color:blueviolet
}
#paragraph {
    color:rgb(1, 1, 12);
    font-size:15px;
}
body{
    background-color:#d3ad89
 }

p {
    text-align: left;
    color: rgb(15, 2, 24);
    margin: 45px;
 } 
ul{
    
    font-size: 12px;
 }
 #header
 {
     border: 1px solid #ccc;
     font-size: 12px;
 }
 .orange1,.orange2{
    color: orange;
    font-size:small;
 }
img{
    border-radius: 50%;
    width: auto;
    height: 500px;
    background-size: cover;

    display: block;
    margin-left: auto;
    
    
}
*{
    color: rgb(1, 1, 11);
    margin: 45px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif
    
 }