
h1,h2,h3,h4{
     color:blueviolet
}
#paragraph {
    color:rgb(1, 1, 12);
    font-size:15px;
}
body{
    background-color:rgb(170, 212, 212);
 }
*{
    color: rgb(1, 1, 11);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif
 }
p {
    text-align: left;
    color: rgb(15, 2, 24);
 } 
ul{
    border: 1px solid rgb(45, 10, 162);
    color:rgb(15, 15, 171)
    font-size: 12px;
 }
 #header
 {
     border: 1px solid #ccc;
     font-size: 12px;
 }
 .orange1,.orange2{
    color: orange;
    font-size:small;
 }
