

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(26, 128, 128);
   
}

.Item-1{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;  
}
h1{
    font-size: 50px;
    margin-left: 100%;
    color: aliceblue;
    font-style: italic;
}
p{
    font-size: 20px;
   margin-left: 10%;
    color: aliceblue;
 
}
.Item-2{
    padding: 20px;
    margin-left: 20px;
}


